.anchorWithArrow
    display: flex
    align-items: center
    width: 9.375rem
    margin: 0 auto
    font-size: 0.938rem
    color: #45525B
    text-align: center
    &_people
        margin: 0
        position: absolute
        bottom: 0
    &_newsroom
        margin-top: 1.25rem
    &__anchor
        text-decoration: none
        color: #45525B
    &__arrow
        width: 1.25rem 
        height: 0.188rem
        background:#45525B
        margin-left: 0.75rem
        position: relative
        border-radius: 20%
        &::after
            content:""
            position: absolute
            background: #45525B
            width: 0.626rem 
            height: 0.188rem
            transform: rotate(45deg) translateY(-0.188rem) translateX(-0.063rem)
            border-radius: 30%
        &::before
            content:""
            position: absolute
            background: #45525B
            width: 0.626rem 
            height: 0.188rem
            top: 50%
            transform: rotate(-45deg) translateY(0.125rem)
            border-radius: 30%