.arrow
    width: 1.25rem 
    height: 0.188rem
    background:#45525B
    margin-left: 0.75rem
    position: relative
    border-radius: 20%           
    &::after
        content:""
        position: absolute
        background: #45525B
        width: 0.626rem 
        height: 0.188rem
        transform: rotate(45deg) translateY(-0.188rem) translateX(-0.063rem)
        border-radius: 30%
    &::before
        content:""
        position: absolute
        background: #45525B
        width: 0.626rem 
        height: 0.188rem
        top: 50%
        transform: rotate(-45deg) translateY(0.125rem)
        border-radius: 30%
    &_testimonials
        margin-left: 0
        transform: scaleX(-1)
        &[data-left]
            &::after
                content:""
                position: absolute
                background: #45525B
                width: 0.640rem 
                height: 0.188rem
                border-radius: 30%
                transform: translate(calc(0.688rem + 0.3px),-3px) rotate(45deg)
            &::before
                content:""
                position: absolute
                background: #45525B
                width: 0.626rem 
                height: 0.188rem 
                border-radius: 30%
                transform: translate(calc(0.688rem + 0.6px),2px) rotate(125deg)
        &[data-right]
            &::after
                content:""
                position: absolute
                background: #45525B
                width: 0.626rem 
                height: 0.188rem
                border-radius: 30%
                transform: translate(-3px,-3px) rotate(125deg)
            &::before
                content:""
                position: absolute
                background: #45525B
                width: 0.626rem 
                height: 0.188rem 
                border-radius: 30%
                transform: translate(-2.6px,1.7px) rotate(45deg)