.circle     
    width: 4rem
    height: 4rem
    border-radius: 50%
    border: 1px solid #3A4443        
    margin: 0 auto
    margin-top: 10.125rem
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    &:hover
        background:#b1cbbb
    &_testimonials
        margin: 0
        position: absolute
        bottom: 0
        right: 0
        &[data-left]
            transform: translate(calc(-100% - 12.785rem - 0.625rem),calc(-100% - 0.625rem))                
        &[data-right]
             transform: translate(calc(-100% - 8.5rem),calc(-100% - 0.625rem))

 

