.form
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    &__input,button
        width: 80%
        height: 2.5rem
        margin-top: 0.7rem
        border-radius: 6px
        border: none
        background: white
        color: #3f474c
    button
        margin-top: 1rem
        background: #998e8e
        color: white
        cursor: pointer
    &__error
        margin-top: 0.7rem
        color: red
        text-align: center
