.header
    min-height: 45.625rem
    padding: 15.313rem 0 3.75rem 0
    background: url("../assets/backgrounds/headerBg.jpg") center center/cover no-repeat
    &__logo
        img
            width: 8rem
            height: 6.375rem
            display: block
            margin: 0 auto
    &__descr
        font-size: 2rem 
        display: block
        width: 28.375rem
        margin: 0 auto
        margin-top: 1.25rem
        text-align: center
        color: #45525B

