.nav
    min-height: 4.125rem
    padding: 0.938rem 0 0.875rem 0
    position: fixed
    background: #FFFFFF
    width: 100%
    top: 0
    z-index: 100
    &__wrapper
        display: flex
        justify-content: center
    &__logo
        margin-right: 42.688rem
        width: 6.375rem
        height: 2.313rem
    &__anchorsWrapper
        display: flex
        justify-content: space-around
        align-items: center
        width: 25.188rem
    &__anchor
        font-size: 0.938rem
        text-decoration: none
        color: #444444
    



