.nav
    min-height: 4.125rem
    padding: 0.938rem 0 0.875rem 0
    &__wrapper
        display: flex
        justify-content: center
    &__logo
        margin-right: 42.688rem
    &__anchorsWrapper
        display: flex
        justify-content: space-around
        align-items: center
        width: 25.188rem
    &__anchor
        font-size: 15px
        text-decoration: none
        color: #444444
    



