.requirements
    min-height: 58.219rem
    padding-top: 6.25rem
    padding-bottom: 6.25rem
    &__img
        width: 30.5rem
        height: 37.25rem
        border-radius: 10%
    &__subtitle
        color: #6F7278
        display: block
        margin: 0 auto
        text-align: center
        margin-top: 0.813rem
        width: 35.063rem
        font-size: 1.125rem
    &__locationsWrapper
        display: flex
        justify-content: center
        align-items: flex-start
        margin-top: 1.875rem
    &__locationsDescrWrapper
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        width: 18.75rem
        padding: 1.313rem 0 1.313rem 1.313rem
        margin-top: 1.438rem
        margin-left: 2rem
        cursor: pointer 
        &:hover
            background: #FAFAFC            
    &__locationsTitle
        margin-top: 0.563rem
        text-transform: uppercase
        color: #45525B
        letter-spacing: 0.125rem
        font-size: 0.875rem
    &__locationsDescr
        color: #6F7278
        font-size: 0.875rem