*
    box-sizing: border-box
    // transition: 1s all
    margin: 0
    padding: 0
    font-weight: normal
    font-size: 1rem
    --animate-duration: 2s
body
    font-family: "Poppins", sans-serif
    width: 100%

html
    font-size: 1vw
    scroll-behavior: smooth

.container
    width:73rem
    margin: 0 auto
    position: relative

    
@import "variables.sass"
@import "./blocks/nav.sass"
@import "./blocks/header.sass"
@import "./blocks/goal.sass"
@import "./blocks/title.sass"
@import "./blocks/requirements.sass"
@import "./blocks/justImg.sass"
@import "./blocks/listings.sass"
@import "./blocks/anchorWithArrow.sass"
@import "./blocks/people.sass"
@import "./blocks/newsroom.sass"
@import "./blocks/testimonials.sass"
@import "./blocks/circle.sass"
@import "./blocks/arrow.sass"
@import "./blocks/contacts.sass"
@import "./blocks/modal.sass"
@import "./blocks/form.sass"
@import "./blocks/footer.sass"
@import "./blocks/pageUp.sass"
@import "./media/media.sass"
