@import "variables.sass"
@import "./blocks/nav.sass"
@import "./blocks/header.sass"
@import "./blocks/goal.sass"
@import "./blocks/title.sass"
@import "./blocks/requirements.sass"
@import "./blocks/justImg.sass"
@import "./blocks/listings.sass"
@import "./blocks/anchorWithArrow.sass"
@import "./blocks/people.sass"
@import "./blocks/newsroom.sass"
@import "./blocks/testimonials.sass"
@import "./blocks/circle.sass"
@import "./blocks/arrow.sass"
@import "./blocks/_contacts.sass"
@import "./blocks/_modal.sass"
@import "./blocks/form.sass"
*
    box-sizing: border-box
    transition: 1s all
    margin: 0
    padding: 0
    font-weight: normal
    font-size: 1rem
body
    font-family: "Poppins", sans-serif

html
    font-size: 16px





.container
    width:73rem
    margin: 0 auto
    position: relative
