/*!***************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js!../node_modules/sass-loader/dist/cjs.js!./styles/styles.sass ***!
  \***************************************************************************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1rem;
  --animate-duration: 2s;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
}

html {
  font-size: 1vw;
  scroll-behavior: smooth;
}

.container {
  width: 73rem;
  margin: 0 auto;
  position: relative;
}

.nav {
  min-height: 4.125rem;
  padding: 0.938rem 0 0.875rem 0;
  position: fixed;
  background: #FFFFFF;
  width: 100%;
  max-width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
}
.nav__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
}
.nav__logo {
  margin-right: 42.688rem;
  width: 6.375rem;
  height: 2.313rem;
}
.nav__anchorsWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25.188rem;
}
.nav__anchor {
  font-size: 0.938rem;
  text-decoration: none;
  color: #444444;
}
.nav__anchor:hover {
  text-decoration: underline;
  color: black;
}

.header {
  min-height: 45.625rem;
  padding: 15.313rem 0 3.75rem 0;
  background: url(f6c38ad5562b7b3a080b.jpg) center center/cover no-repeat;
}
.header__logo img {
  width: 8rem;
  height: 6.375rem;
  display: block;
  margin: 0 auto;
}
.header__descr {
  font-size: 2rem;
  display: block;
  width: 28.375rem;
  margin: 0 auto;
  margin-top: 1.25rem;
  text-align: center;
  color: #45525B;
}

.goal {
  min-height: 30.375rem;
  background-color: #FAFAFC;
  padding-top: 6.188rem;
  padding-bottom: 6.25rem;
  visibility: hidden;
}
.goal__descrWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goal__descr {
  width: 36rem;
  margin-left: 10.313rem;
  margin-right: 1rem;
}
.goal__text {
  color: #333333;
  line-height: 1.4rem;
}
.goal__text p:nth-child(2) {
  margin-top: 1rem;
}
.goal__brokerInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1.188rem;
}
.goal__brokerDescr {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}
.goal__brokerDescr span:nth-child(1) {
  color: #45525B;
}
.goal__brokerDescr span:nth-child(2) {
  color: #6F7278;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-size: 0.75rem;
}
.goal__brokerImg {
  height: 5rem;
  width: 5rem;
}

.title__wrapper {
  display: flex;
  flex-direction: column;
}
.title__wrapper_goal {
  width: 28rem;
}
.title__subtitle {
  color: #45525B;
  font-size: 2.25rem;
  line-height: 3.313rem;
  margin-top: -0.5rem;
  text-align: left;
}
.title__subtitle_requirements {
  text-align: center;
}
.title__subtitle_goal {
  font-size: 3rem;
}
.title__subtitle_people {
  line-height: 2.8rem;
}
.title__subtitle_newsroom {
  text-align: center;
}

.title__main, .footer__anchorsTitle, .footer__newsletterTitle {
  color: #FF8A63;
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}
.title__main_requirements, .footer__anchorsTitle_requirements, .footer__newsletterTitle_requirements {
  text-align: center;
}
.title__main_newsroom, .footer__anchorsTitle_newsroom, .footer__newsletterTitle_newsroom {
  text-align: center;
}

.requirements {
  min-height: 58.219rem;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  visibility: hidden;
}
.requirements__imgWrapper {
  width: 30.5rem;
  height: 37.25rem;
  display: flex;
  align-items: center;
}
.requirements__img {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
}
.requirements__subtitle {
  color: #6F7278;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 0.813rem;
  width: 35.063rem;
  font-size: 1.125rem;
}
.requirements__locationsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.875rem;
}
.requirements__locationsWrapper:nth-child(1) {
  margin-top: 0;
}
.requirements__locationsDescrWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 18.75rem;
  padding: 1.313rem 0 1.313rem 1.313rem;
  margin-top: 1.438rem;
  margin-left: 2rem;
}
.requirements__descrWrapper {
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 10px;
  padding: 15px;
  transition: 0.5s all;
}
.requirements__descrWrapper:hover {
  background: #FAFAFC;
  transform: scale(1.2);
}
.requirements__locationsTitle {
  margin-top: 0.563rem;
  text-transform: uppercase;
  color: #45525B;
  letter-spacing: 0.125rem;
  font-size: 0.875rem;
}
.requirements__locationsDescr {
  color: #6F7278;
  font-size: 0.875rem;
}
.requirements__locationsIcon {
  width: 3rem;
  height: 3rem;
}

.justImg {
  min-height: 37.5rem;
  visibility: hidden;
}
.justImg img {
  width: 100%;
  height: 100%;
}

.listings {
  min-height: 75.25rem;
  padding: 6.25rem 0 6.25rem 0;
  background: #FAFAFC;
  visibility: hidden;
}
.listings__subtitle {
  font-size: 1.125rem;
  display: block;
  width: 35.875rem;
  color: #6F7278;
}
.listings__wrapper {
  margin-top: 1.875rem;
  display: grid;
  grid-template-columns: 32.5% 32.5% 32.5%;
  column-gap: 1rem;
}
.listings__item {
  width: 23.688rem;
  min-height: 24.063rem;
}
.listings__itemImg {
  width: 23.688rem;
  height: 16.688rem;
}
.listings__itemImg2 {
  height: 17.15rem;
}
.listings__itemTitle {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #6F7278;
  font-size: 0.75rem;
  text-align: center;
}
.listings__itemSubtitle {
  color: #45525B;
  text-align: center;
  font-size: 1.25rem;
}
.listings__itemSpecification {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #45525B;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 0.625rem;
}
.listings__beds, .listings__bathrooms, .listings__rooms {
  position: relative;
  font-size: 0.75rem;
}
.listings__rooms {
  margin-right: 0;
}
.listings__bedIcon, .listings__bathroomIcon, .listings__roomsIcon {
  height: 1.25rem;
  width: 1.25rem;
  transform: translate(-0.4rem, 25%);
}

.anchorWithArrow {
  display: flex;
  align-items: center;
  width: 10rem;
  margin: 0 auto;
  font-size: 0.938rem;
  color: #45525B;
  text-align: center;
  cursor: pointer;
}
.anchorWithArrow:hover div, .anchorWithArrow:hover img {
  color: black;
}
.anchorWithArrow_people {
  margin: 0;
  margin-top: 1rem;
}
.anchorWithArrow_newsroom {
  margin-top: 1.25rem;
}
.anchorWithArrow__anchor {
  text-decoration: none;
}

.people {
  min-height: 30.25rem;
  padding: 6.25rem 0 6.25rem 0;
  visibility: hidden;
}
.people__contentWrapper {
  display: flex;
}
.people__contentItem {
  width: 23rem;
  position: relative;
}
.people__contentItem:nth-child(1) {
  margin-right: 4.063rem;
}
.people__staffItem {
  margin-left: 1.438rem;
}
.people__subtitle {
  color: #6F7278;
  font-size: 1.063rem;
  line-height: 1.375rem;
}
.people__staffItem {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.people__staffItem:nth-child(1) {
  margin-top: 0.375rem;
}
.people__staffItem:nth-child(4) {
  margin-top: 0.375rem;
}
.people__staffDescr {
  margin-left: 0.5rem;
}
.people__staffDescrName {
  color: #45525B;
}
.people__staffDescrPost {
  color: #6F7278;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.people__staffImg {
  width: 5rem;
  height: 5rem;
}
.people__mobileWrapper {
  display: flex;
}

.newsroom {
  min-height: 49.25rem;
  background: #FAFAFC;
  padding: 6.25rem 0 6.25rem 0;
  visibility: hidden;
}
.newsroom a {
  text-decoration: none;
}
.newsroom a:hover {
  text-decoration: underline;
}
.newsroom__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
}
.newsroom__item {
  width: 23.5rem;
  min-height: 22.75rem;
  position: relative;
}
.newsroom__itemTitle {
  margin-top: 1.5rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #FF8A63;
}
.newsroom__descr {
  margin-left: 1.875rem;
}
.newsroom__itemSubtitle {
  margin-top: 0.5rem;
  color: #45525B;
  text-decoration: none;
}
.newsroom__itemDate {
  position: absolute;
  bottom: 0;
}
.newsroom__img {
  width: 23.5rem;
  height: 13.188rem;
}

.testimonials {
  min-height: 38.625rem;
  padding: 6.25rem 0 9.375rem 0;
  position: relative;
  visibility: hidden;
}
.testimonials__slider {
  overflow: hidden;
}
.testimonials__sliderWrapper {
  width: 200vw;
  display: flex;
  transition: 0.5s all;
}
.testimonials__sliderItem {
  width: 35.5rem;
  min-height: 17.875rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  padding: 2.125rem 0 2.375rem 1.938rem;
  margin-left: 20px;
  position: relative;
  padding: 10px;
}
.testimonials__sliderItem:first-child {
  margin-left: 0;
}
.testimonials__reviewTitle {
  color: #333333;
  font-size: 1.5rem;
}
.testimonials__reviewDescr {
  color: #333333;
  font-size: 0.938rem;
  line-height: 1.375rem;
}
.testimonials__reviewPerson {
  color: #45525B;
  line-height: 1rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.testimonials__reviewPerson::before {
  content: "";
  width: 2.3px;
  height: 1.5rem;
  background: #FF8A63;
  position: absolute;
  left: -0.6rem;
  top: -0.4rem;
}
.testimonials__sliderDots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  margin-top: 1rem;
}
.testimonials__sliderDot {
  width: 1rem;
  height: 1rem;
  background: #7c7878;
  border-radius: 50%;
  margin-left: 1rem;
}
.testimonials__sliderDot:nth-child(1) {
  background: black;
  margin-left: 0;
}

.circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid #3A4443;
  margin: 0 auto;
  margin-top: 10.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.circle:hover {
  background: #b1cbbb;
}
.circle_testimonials {
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
.circle_testimonials[data-left] {
  transform: translate(calc(-100% - 1.4rem), calc(100% + 1.219rem));
}
.circle_testimonials[data-right] {
  transform: translate(-0.9rem, calc(100% + 1.219rem));
}

.arrow {
  width: 1.25rem;
  height: 0.688rem;
  margin-left: 0.813rem;
}
.arrow_testimonials {
  margin-left: 0;
}
.arrow_testimonials[data-left] {
  transform: rotate(180deg);
}

.arrow_header {
  height: 1.25rem;
  width: 1.25rem;
  margin-left: 0;
}

.contacts {
  min-height: 24.938rem;
  padding: 6.25rem 0 6.25rem 0;
  background: #45525B;
  visibility: hidden;
}
.contacts__question {
  text-align: center;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #FAFAFC;
  font-size: 0.875rem;
}
.contacts__title {
  text-align: center;
  font-size: 2rem;
  color: white;
  line-height: 1.75rem;
  margin-top: 0.3rem;
}
.contacts__descr {
  width: 35.875rem;
  margin: 0 auto;
  text-align: center;
  color: #FAFAFC;
  font-size: 1.125rem;
  margin-top: 0.5rem;
}
.contacts__interactive {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.contacts__interactive button, .contacts__interactive a {
  margin-left: 1.25rem;
  width: 7.625rem;
  height: 2.75rem;
  background: #FFFFFF;
  border-radius: 6px;
  border: none;
  color: #45525B;
  cursor: pointer;
}
.contacts__interactive button:hover, .contacts__interactive a:hover {
  background-color: #ece5e5;
}
.contacts__interactive a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 27rem;
  min-height: 21rem;
  position: fixed;
  background: #f2f2f2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  display: none;
  z-index: 2000;
}
.modal__title {
  text-align: center;
  font-size: 1.2rem;
  color: #3f474c;
}
.modal__close {
  display: block;
  color: red;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 0;
  cursor: pointer;
  font-size: 2.5rem;
  line-height: 1.5rem;
}
.modal__close:hover {
  color: #be5d56;
}
.modal .thankYou {
  text-align: center;
  font-size: 2rem;
  margin: 0 auto;
}

.overlay {
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.56);
  position: fixed;
  top: 0;
  display: none;
  z-index: 1000;
}

.form_modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_modal input {
  padding-left: 5px;
}
.form_modal button:hover {
  background-color: #5c5555;
}
.form__input, .form button {
  width: 80%;
  height: 2.5rem;
  margin-top: 0.7rem;
  border-radius: 6px;
  border: none;
  background: white;
  color: #3f474c;
}
.form button {
  margin-top: 1rem;
  background: #998e8e;
  color: white;
  cursor: pointer;
}
.form__error {
  margin-top: 0.7rem;
  color: red;
  text-align: center;
}
.form_newsletter .form__input {
  height: 3.313rem;
  width: 100%;
  position: relative;
  padding: 0 10px;
  outline: none;
  border: none;
}
.form_newsletter .form__input:hover {
  outline: 1px solid black;
  box-shadow: 2px 2px 2px black;
}
.form_newsletter .newsletter__submit {
  position: absolute;
  width: 4.563rem;
  height: 2.438rem;
  background: #3A4443;
  border-radius: 10px;
  transform: translate(calc(-100% - 0.5rem), 45%);
  color: #FFFFFF;
  margin-top: 0;
}
.form_newsletter .newsletter__submit:hover {
  background-color: #3f3b3b;
}

.footer {
  min-height: 35.188rem;
  padding: 6.25rem 0;
  background: #292C32;
  visibility: hidden;
}
.footer__logo {
  display: block;
  margin: 0 auto;
  width: 10rem;
  height: 3.625rem;
}
.footer__contentWrapper {
  margin-top: 4.75rem;
  min-height: 11.188rem;
  display: flex;
  justify-content: space-between;
}
.footer__anchors, .footer__newsletter {
  display: flex;
  flex-direction: column;
}
.footer__newsletter {
  width: 28.625rem;
}
.footer__link {
  color: #FFFFFF;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__endWrapper {
  display: flex;
}
.footer__newsletterDescr {
  color: #FAFAFC;
}
.footer__rights {
  color: white;
}
.footer__sociallinks {
  width: 9.75rem;
  display: flex;
  margin-left: 36.7rem;
  justify-content: space-between;
}
.footer__socialImg {
  width: 1.5rem;
  height: 1.5rem;
}
.footer__socialImg:nth-child(1) {
  width: auto;
}

.pageUp {
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
  transition: 0.5s all;
}

@media (max-width: 1200px) {
  .container {
    width: 95%;
  }

  html {
    font-size: 1.3vw;
  }

  .anchorWithArrow {
    position: static;
    margin-top: 2rem;
  }

  .people {
    padding: 2rem 0;
  }
  .people__contentItem:nth-child(1) {
    margin-right: 0;
  }
  .people__staffImg {
    width: 6.5rem;
    height: 6.5rem;
  }
  .people__staffDescrName {
    font-size: 1.5rem;
  }
  .people__staffDescrPost {
    font-size: 1.3rem;
  }

  .testimonials {
    min-height: 35rem;
  }
  .testimonials__sliderWrapper {
    width: 250%;
  }
  .testimonials__sliderItem {
    width: 20%;
  }
}
@media (max-width: 700px) {
  .container {
    width: 100%;
  }

  html {
    font-size: 1.6vw;
  }

  .nav {
    padding: 0;
  }
  .nav__wrapper {
    height: 4.125rem;
    align-items: center;
    justify-content: space-between;
  }
  .nav__anchorsWrapper {
    width: 80%;
    max-width: 80vw;
  }
  .nav__anchorsWrapper a {
    font-size: 2rem;
    line-height: 4rem;
  }
  .nav__logo {
    margin-right: 10rem;
    height: 4rem;
    width: 100%;
    margin: 0 10px;
  }
  .nav__logoWrapper {
    width: 15%;
    max-width: 15vw;
  }

  .header {
    padding: 10rem 0 2rem;
    min-height: 35rem;
  }
  .header__logo img {
    width: 10rem;
    height: 8rem;
  }
  .header__descr {
    font-size: 3rem;
    width: 34rem;
  }

  .circle {
    height: 6rem;
    width: 6rem;
  }
  .circle_testimonials {
    display: none;
  }

  .arrow_header {
    height: 2rem;
    width: 2rem;
  }

  .title__wrapper_goal {
    width: 40rem;
  }
  .title__main {
    font-size: 1.2rem;
    text-align: center;
  }
  .title__subtitle {
    font-size: 3rem;
    margin-top: 0.5rem;
    text-align: center;
  }

  .goal {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .goal__descrWrapper {
    flex-direction: column;
  }
  .goal__text p {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: center;
  }
  .goal__text p:nth-child(2) {
    display: none;
  }
  .goal__descr {
    margin: 0;
    width: 55rem;
  }
  .goal__brokerInfo {
    flex-direction: column;
  }
  .goal__brokerDescr {
    text-align: center;
    margin: 0;
  }
  .goal__brokerDescr span:nth-child(1) {
    font-size: 2.3rem;
  }
  .goal__brokerDescr span:nth-child(2) {
    font-size: 2rem;
  }
  .goal__brokerImg {
    width: 10rem;
    height: 10rem;
  }

  .requirements {
    padding: 2rem 0;
  }
  .requirements__img {
    max-height: 300px;
  }
  .requirements__subtitle {
    display: none;
  }
  .requirements__locationsWrapper {
    align-items: center;
    flex-direction: column;
  }
  .requirements__imgWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .requirements__locationsDescrWrapper {
    margin: 0;
    margin-left: 1rem;
    padding: 0.7rem 0 0.7rem 0.7rem;
    flex-direction: row;
    width: 98%;
  }
  .requirements__locationsDescrWrapper img {
    width: 6rem;
    height: 6rem;
  }
  .requirements__descrWrapper {
    width: 30%;
  }
  .requirements__descrWrapper:nth-child(n+2) {
    margin-left: 10px;
  }
  .requirements__locationsTitle, .requirements__locationsDescr {
    font-size: 1rem;
  }

  .justImg {
    min-height: 29rem;
  }

  .listings {
    padding: 2rem 0 2rem 0;
  }
  .listings__subtitle {
    display: none;
  }
  .listings__wrapper {
    grid-template-columns: 50% 50%;
    column-gap: 0;
  }
  .listings__item {
    margin: 0 auto;
    min-height: 24rem;
  }
  .listings__itemImg {
    width: 100%;
    height: 18.688rem;
  }
  .listings__itemImg2 {
    height: 19.1rem;
  }
  .listings__itemTitle {
    font-size: 1.5rem;
    margin: 0;
  }
  .listings__itemSubtitle {
    font-size: 1.8rem;
    margin: 0;
  }
  .listings__beds, .listings__bathrooms, .listings__rooms {
    font-size: 1.5rem;
  }
  .listings__bedIcon, .listings__bathroomIcon, .listings__roomsIcon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .anchorWithArrow {
    margin-top: 1rem;
    width: 25rem;
    justify-content: center;
  }
  .anchorWithArrow__anchor {
    font-size: 2rem;
  }
  .anchorWithArrow_people {
    display: none;
  }

  .arrow {
    width: 2.5rem;
    height: 1.3rem;
  }
  .arrow_header {
    width: 3.5rem;
    height: 2rem;
  }

  .people {
    padding: 2rem 0;
  }
  .people__contentWrapper {
    flex-direction: column;
    align-items: center;
  }
  .people__contentItem {
    width: 80%;
  }
  .people__mobileWrapper {
    margin-top: 1rem;
    display: flex;
  }
  .people__subtitle {
    display: none;
  }
  .people__staffImg {
    width: 8rem;
    height: 8rem;
  }
  .people__staffDescrName {
    font-size: 2rem;
  }
  .people__staffDescrPost {
    font-size: 1.5rem;
  }

  .newsroom {
    padding: 2rem 0;
  }
  .newsroom__wrapper {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .newsroom__item {
    margin-top: 1rem;
    width: 28.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .newsroom__item:nth-child(1) {
    margin: 0;
  }
  .newsroom__item:nth-child(2) {
    margin: 0;
  }
  .newsroom__descr {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .newsroom__itemTitle {
    font-size: 1.5rem;
  }
  .newsroom__itemSubtitle {
    font-size: 2rem;
    text-align: center;
  }
  .newsroom__itemDate {
    font-size: 2rem;
    position: static;
  }
  .newsroom__img {
    margin: 0 auto;
  }

  .contacts {
    padding: 2rem 0;
  }
  .contacts__question {
    font-size: 1.7rem;
  }
  .contacts__title {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .contacts__descr {
    font-size: 2rem;
    width: 70%;
  }
  .contacts button, .contacts a {
    width: 9.5rem;
    height: 4.5rem;
    font-size: 1.5rem;
  }

  .footer {
    padding: 2rem 0;
    min-height: 30rem;
  }
  .footer__contentWrapper {
    margin-top: 2rem;
    width: 100%;
    justify-content: space-around;
  }
  .footer__anchors a {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .footer__newsletterDescr {
    font-size: 1.5rem;
  }
  .footer__newsletter {
    width: 30%;
  }
  .footer__anchorsTitle, .footer__newsletterTitle {
    font-size: 1.4rem;
  }
  .footer__endWrapper {
    margin-top: 4rem;
  }
  .footer__rights {
    font-size: 1.5rem;
    margin-left: 10px;
  }
  .footer__sociallinks {
    margin-left: 5rem;
    font-size: 1.5rem;
    width: 15rem;
    justify-content: space-between;
  }
  .footer__socialImg {
    width: 2.5rem;
    height: 2.5rem;
  }

  .form_newsletter .form__input {
    height: 5rem;
    font-size: 1.5rem;
    padding: 0 0 0 10px;
  }
  .form_newsletter .newsletter__submit {
    font-size: 1.5rem;
    transform: translate(-180%, 200%);
    width: 7rem;
    height: 3rem;
  }

  .testimonials {
    padding: 2rem 0;
  }
  .testimonials__sliderWrapper {
    width: 500vw;
    padding-left: 10px;
  }
  .testimonials__sliderItem {
    width: 20%;
  }
  .testimonials__reviewTitle {
    font-size: 2.1rem;
  }
  .testimonials__reviewDescr {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .testimonials__reviewPerson {
    font-size: 1.5rem;
  }
  .testimonials__sliderDots {
    display: flex;
  }

  .modal {
    width: 35rem;
    height: 28rem;
  }
  .modal input {
    height: 4rem;
    font-size: 2rem;
  }
  .modal button {
    height: 4rem;
    font-size: 2rem;
  }
  .modal__title {
    font-size: 2.2rem;
  }

  .pageUp {
    width: 3rem;
    height: 3rem;
  }
}
@media (max-width: 500px) {
  .requirements {
    padding: 2rem 0;
  }
  .requirements__img {
    max-height: 200px;
    max-width: 95%;
  }
  .requirements__locationsDescrWrapper {
    margin-top: 20px;
    margin-left: 0;
    max-width: 95%;
  }
}
.testimonials__reviewPerson {
  font-size: 1.5rem;
  bottom: 5px;
}
